@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background:rgb(0, 20, 31);
  color: white;
}

/* Optional: Add soft noise texture */
body::after {
  content: "";
  position: fixed;
  inset: 0;
  background: url('https://transparenttextures.com/patterns/asfalt-light.png') repeat;
  opacity: 0.02;
  pointer-events: none;
}
@keyframes fadeSlide {
  from {
    opacity: 0;
    transform: translateX(30px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-fadeSlide {
  animation: fadeSlide 0.8s ease-in-out;
}